<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>NER Application</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
            <h1 class="text-white mb-4">GeoSense - Geospatial Querying System</h1>
            <form method="post" action="/results">
                <div class="container-input">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Speak or type here">
                        <div class="input-group-append">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lang
                                </button>
                                <div class="dropdown-menu" aria-labelledby="languageDropdown" id="languageOptions">
                                    <a class="dropdown-item" href="#" data-lang="en-IN">English</a>
                                    <a class="dropdown-item" href="#" data-lang="ta-IN">Tamil</a>
                                    <a class="dropdown-item" href="#" data-lang="ml-IN">Malayalam</a>
                                    <a class="dropdown-item" href="#" data-lang="hi-IN">Hindi</a>
                                </div>
                            </div>
                            <span class="input-group-text mic-icon" id="micButton">
                                <i class="fas fa-microphone"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='background-vid.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
